@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');


.blogpage {
   overflow: hidden;
	min-height: 100%;
	position: relative;
   background:  #F4F5F6
}

.container {
   max-width: 1260px;
   min-height: 100vh;
   padding: 15px;
	margin: 0 auto;
}

.title {
   position: absolute;
   width: 496px;
   height: 249px;
	left: 813px;
   top: 25%;
}
h1 {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 64px;
    line-height: 130%;
    align-items: center;
    letter-spacing: 1px;
    opacity: 1;
    color: #1E212C; 
    animation-name: text;
    animation-duration: 5s;
    /* animation-delay: 3s; */
    animation-iteration-count: 1;
}

@keyframes text {
	0%{
		 opacity: 0;
	}
	100%{
		 opacity: 1;
	}
}

.button {
	position: absolute;
	width: 372px;
	height: 52px;
	top: 430px;
	left: 819px;
}


.button__about {
	display:inline-block;
	width: 148px;
	height: 52px;
	font-family: "Lato";
	font-weight: 700;
   border: 1px solid #66B0F0;
	border-radius: 4px;
   color:#66B0F0;
   padding: 15px 40px;
}

.button__about:hover {
	color: #fff;
	border: 1px solid #66B0F0;
	background-color: #66B0F0;
}

.button__festival {
	display:inline-block;
	width: 148px;
	height: 52px;
	font-family: "Lato";
	font-weight: 700;
   border: 1px solid #FF3F3A;
	border-radius: 4px;
   color:#FF3F3A;
   padding: 15px 40px;
}

.button__festival:hover {
	color: #fff;
	border: 1px solid #FF3F3A;
	background-color: #FF3F3A;
}


.illustration {
	position: absolute;
	width: 507px;
	height: 454px;
	left: 308px;
	top: 15%;
}

.illustration__lamp {
	position: absolute;
	left: 32%;
	right: 80.81%;
	top: -18%;
	bottom: 48.4%;
	animation-name: lamp;
	animation-duration: 1.5s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
}
@keyframes lamp{
	0%{
		top: -500%;
		opacity: 0;
		}
		75%{
		opacity: 0;
		}
		100%{
		top: 0%;
		opacity: 1;
		}
}


.illustration__light{
	
	animation-name: light;
	animation-duration: 2.5s;
	animation-timing-function: linear;
	animation-iteration-count: 1;

}

@keyframes light{
	0%{
		top: -500%;
		opacity: 0;
		}
		75%{
		opacity: 0;
		}
		100%{
		top: 0%;
		opacity: 1;
		}
}




.illustration__bookshelf{
	position: absolute;
	left: -27%;
	right: 0%;
	top: 10%;
	bottom: 0%;
	animation-name: bookshelf;
	animation-duration: 1s;
	animation-timing-function: linear;
	animation-iteration-count: 1;

}
@keyframes bookshelf{
	0%{
		left: -500%;
		opacity: 0;
		}
		75%{
		opacity: 0;
		}
		100%{
		left: 0%;
		opacity: 1;
		}
}



.illustration__character{
	position: absolute;
	z-index: 4;
    left: 28.77%;
    right: 15.74%;
    top: 16%;
    bottom: 0.1%;
    animation-name: character;
    animation-duration: 2.5s;
    animation-timing-function: linear;
    animation-iteration-count: 1;
}
@keyframes character{
	0%{
		bottom: -500%;
		opacity: 0;
		}
		75%{
		top: 50%;
		opacity: 0;
		}
		100%{
		bottom:  0%;
		opacity: 1;
		}
}




.illustration__book{
	position: absolute;
	z-index: 3;
   left: 50%;
   right: 15.74%;
   top: 50%;
   bottom: 0.1%;
   animation-name: book;
   animation-duration: 3s;
   animation-timing-function: linear;
   animation-iteration-count: 1;
}

@keyframes book{
	0%{
		bottom: -500%;
		opacity: 0;
		}
		75%{
		top: 50%;
		opacity: 0;
		}
		100%{
		bottom:  0%;
		opacity: 1;
		}
}





.illustration__backpak{
	position: absolute;
	left: 33%;
	right: 0%;
	top: 25%;
	bottom: 0%;
	animation-name: backpak;
	animation-duration: 3s;
	animation-timing-function: linear;
	animation-iteration-count: 1;
	z-index: 4;

}

@keyframes backpak{
	0%{
		left: -500%;
		opacity: 0;
		}
		75%{
		opacity: 0;
		}
		100%{
		left: 0%;
		opacity: 1;
		}
}

