@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	line-height: 26px;
	color: #1E212C;
}

.wrapper {
	font-family: "Lato", sans-serif;
	max-width: 810px;
	margin: 0 auto;
	
}

.title {
font-weight: 900;
font-size: 46px;
line-height: 60px;
max-width: 810px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-bottom: 92px;
}

.img {
	max-width: 810px;
	margin-bottom: 60px;
	max-width: 100%;
 }


.paragraf-1{
font-weight: 700;
font-size: 20px;
line-height: 30px;
margin-bottom: 24px;
max-width: 810px;
}

.paragraf-2{
	max-width: 810px;
	margin-bottom: 24px;
	color: #424551;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}

.paragraf-3{
	max-width: 810px;
	margin-bottom: 48px;
	color: #424551;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}

.paragraf-4{
	max-width: 752px;
	margin: 0px 0px 48px 60px;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: #1E212C;
}

.paragraf-5{
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #424551;
	margin-bottom: 24px;
	max-width: 810px;
}

.list{
	margin-bottom: 24px;
}

.item{
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #424551;
	max-width: 568px;
	margin: 0px 0px 4px 32px;
}

.paragraf-6{
	max-width: 810px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #424551;
	margin-bottom: 92px;
}

div.experiments {
	font-weight: 900;
	font-size: 46px;
	line-height: 60px;
	max-width: 810px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 50px;
	padding-left: 0px;
}

.link{
	display: inline-block;
	width: 206px;
	background: #FF3F3A;
	border-radius: 4px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 3.25;
	color: #FFFFFF;
	margin-left: 70px;
}



.experiments{
	max-width: 1920px;
	margin: 0 auto;
	padding: 15px;
	
}
[class*="__container"]{
	font-family: "Lato", sans-serif;
	padding: 500px 0px;
	margin-bottom: 50px;
}
.first__container{
	background: url("../img/50-HR-Recruiting-Stats-1.png") 0 0 / cover no-repeat fixed;
}

.one{
color: rgb(205, 237, 75);
font-weight: 900;
font-size: 50px;
text-align: center;
padding: 90px 0px;	
line-height:55px;
background-color: rgba(66, 27, 138, 0.347);
background-size: 810px;
}




.second__container{
	padding: 200px 0px;
	background: url("../img/1.png") 0 0 / 200px repeat-y,linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(103,211,219,0.397705078125) 52%, rgba(252,247,69,0.2812278053977273) 100%) , url("../img/2.png") 100% 100% / 300px no-repeat;
}

.block{
	background: #FFFFFF;
	height: 200px;
	max-width: 500px;
	border-radius: 15px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	overflow: auto;
	margin-left: 250px;
	border: 6px solid rgb(205, 237, 75);
	padding: 10px 10px;
}


.third{
	background-color: darkslateblue;
}

.fourth{
	background-color: rgb(205, 237, 75);
}

[class*="__part"]{
	font-family: "Lato", sans-serif;
	padding: 20px 0px;
	text-transform: uppercase;
	max-width: 810px;
	color: rgb(255, 255, 255);
	overflow: auto;
	margin-left: auto;
	margin-right: auto; 
	text-align: center;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.40);
}

.fifth{
	background: url("../img/4.png") repeat-x;
	background-size: 200px auto;
	padding: 45px 0px;
	
}

.last__neuws{
	margin-top: 0;
	background-image: url("../img/hand.png");
	background-size: 300px auto;
	background-position:  50% 50%;
   background-repeat: no-repeat; 
}

.promise{
	text-transform: uppercase;
	text-align: justify;
	color: blueviolet;
	max-width: 810px;
	margin-left: auto;
	margin-right: auto; 
}