@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');

body {
	font-family: 'Lato', sans-serif;
	font-style: normal;
	line-height: 26px;
	color: #1E212C;
	
}

.header{
	padding: 0px 70px 0px 70px;
	margin-bottom: 80px;
	background-color: darkgrey;
}

.wrapper {
	padding: 0px 70px 0px 70px;
}

.title {
font-weight: 900;
font-size: 46px;
line-height: 60px;
max-width: 810px;
text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
margin-bottom: 92px;
}

.img {
	max-width: 810px;
	margin-bottom: 60px;
}

.paragraf-1{
font-weight: 700;
font-size: 20px;
line-height: 30px;
margin-bottom: 24px;
max-width: 810px;
}

.paragraf-2{
	max-width: 810px;
	margin-bottom: 24px;
	color: #424551;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}

.paragraf-3{
	max-width: 810px;
	margin-bottom: 48px;
	color: #424551;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
}

.paragraf-4{
	max-width: 752px;
	margin: 0px 0px 48px 60px;
	font-weight: 700;
	font-size: 20px;
	line-height: 30px;
	color: #1E212C;
}

.paragraf-5{
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #424551;
	margin-bottom: 24px;
	max-width: 810px;
}

.list{
	margin-bottom: 24px;
}

.item{
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #424551;
	max-width: 568px;
	margin: 0px 0px 4px 32px;
}

.paragraf-6{
	max-width: 810px;
	font-weight: 400;
	font-size: 16px;
	line-height: 26px;
	color: #424551;
	margin-bottom: 92px;
}

.experiments{
	padding: 0px 70px 0px 70px;
	font-weight: 900;
	font-size: 46px;
	line-height: 60px;
	max-width: 810px;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	margin-bottom: 50px;
	
}

.link{
	display: inline-block;
	width: 206px;
	background: #FF3F3A;
	border-radius: 4px;
	text-align: center;
	font-weight: 700;
	font-size: 16px;
	line-height: 3.25;
	color: #FFFFFF;
	margin-left: 70px;
}


.footer{
	padding: 0px 70px 0px 70px;
	margin-top: 150px;
	background-color: darkgrey;
}
